# generated logfiles
*.log
logs

# random files to send
files_to_send
analyses_results

# random files to send
historic_results

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Venv
.venv*/
